@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Success!";
}


<!--
Author: Ryan Pinkney
    Confirmation page

-->
<h2>Your movie was added successfully.</h2>
<h3>Come again soon!</h3>