@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!--Set the title-->
    ViewData["Title"] = "Edit";
}

<!--
Author: Ryan Pinkney
Form page

-->

<!--Title-->
<h3>Edit a movie</h3>

<!--Bring in the model-->
@model ismission5RyanPinkney.Models.Movie

<div>

    <!-- Form to edit a movie record-->
    <form method="POST">

        <!--Hidden field for the movie id-->
        <input type="hidden" asp-for="movie_id" />

        <!--Field for title-->
        <label asp-for="sTitle">Title</label>
        <input asp-for="sTitle" /><br />

        <!--Field for Category-->
        <label asp-for="Category_id">Category:</label>
        <select asp-for="Category_id">

            <option value="">Select a Category</option>


            <!--Bring in the list of categories from the database through the controller-->
            @foreach (Category m in ViewBag.lstCategories)
            {
                <option value="@m.Category_id">@m.sCategory_name</option>

            }

        </select><br />


        <!--Field for Year-->
        <label asp-for="sYear">Year:</label>
        <input asp-for="sYear" /><br />

        <!--Field for director-->
        <label asp-for="sDirector">Director:</label>
        <input asp-for="sDirector" /><br />

        <!--Field for rating-->
        <label asp-for="sRating">Rating:</label>
        <select asp-for="sRating">

            <option value="">Select a Rating</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>

        </select><br />

        <!--Field for lent to-->
        <label asp-for="sLentToName">Lent to:</label>
        <input asp-for="sLentToName" /><br />

        <!--Field for ediited-->
        <label asp-for="sIsEdited">Was the movie edited?:</label>
        <select asp-for="sIsEdited">

            <option value="">None</option>
            <option value="true">Yes</option>
            <option value="false">No</option>

        </select><br />

        <!--Field for Notes-->
        <!--Message is restricted to 25 characters-->
        <label asp-for="sNotes">Notes</label>
        <textarea asp-for="sNotes" maxlength="25"></textarea><br /><br />

        <!--Field to submit-->
        <button type="submit">Submit</button>

    </form>

    <!--Show the validation summary-->
    <div asp-validation-summary="All"></div>
</div>