@{
    <!--Set the title for the tab-->
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--
Author: Ryan Pinkney
 Homepage with photo

-->

<!--Welcome message-->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>

<!--Photo of Joel-->
<img src="~/img/JoelHiltonHeadshot.jpg" height="410px" />
<br />
<br />

